* {
    margin: 0;
    padding: 0;
}

.background-slide-3 {
    border: solid 0.01px;
    background: url(2f3b7bf7e535476b1e24.jpg) fixed no-repeat center center;
    background-size: cover;
    height: 90vh;
    /* width: 100%; */
}

/* trưởng để  100% ko bị thừa nữa ai dè y như 100vw*/
.inner-content-3 {
    width: 40%;
    height: 18vh;
    margin-left: 15vh;
    margin-top: 5vh;
    font-size: 22px;
}

.inner-imgs-3 {
    width: 60%;
    height: 65vh;

    display: flex;
    flex-wrap: wrap;
    margin-left: 10vh;
}

.inner-img {
    width: 25vh;
    height: 25vh;
    border: solid grey;
    border-radius: 50%;
    margin: 2.5vh 5vh;
    overflow: hidden;
}

.inner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit:cover ; và  background-size : cover để bao phủ toàn tộ từ trung tâm + phóng hoặc phóng để vừa khung và ko hỏng ảnh khác ở chỗ object-fit dùng cho thẻ cd img còn background-size dùng cho background */
}
