.body{
    margin: 0;
    padding: 0;
}
footer{
    width: 99.7%;
    height: 80vh;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: url(../../public/img/ae41f18e6f4ccd12945d.jpg) center center no-repeat fixed;
    background-size: cover;
    color: rgb(246, 203, 174);
    text-shadow:  
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;

    position: relative;
}



.right-8{
    width: 35%;
}
.right-8 .from_customer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.right-8 .from_customer input{
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(50% - 10px - 2px*2);
    border: solid 1px;
}
.right-8 .from_customer input:nth-of-type(1){
    margin-left: 0;
}
.right-8 .from_customer input:nth-of-type(3){
    margin-left: 0;
}
.right-8 .from_customer textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px ;
    border: solid 1px;
}

.right-8 .from_customer button{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(141, 5, 5);
    color: rgb(246, 203, 174);
    border: solid;
    opacity: 0.7;
}
.right-8 .from_customer button:hover{
   opacity: 1;
}


/* left */
.left-8{
    
    width: 35%;
}
.left-8 iframe{
    width: 100% - 2px;
    border: black 2px solid; 
}

.icon i{
    font-size: 40px;
}
.athor{
    position: absolute;
    bottom: 10px;
}