* {
    padding: 0;
    margin: 0;
}

/* head */
.head-fixed {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    height: 10vh;
    color: rgb(246, 203, 174);
    font-size: 16px;
    font-weight: 700;
    background: rgb(141, 5, 5);
    z-index: 999;
}
.inner-menu {
    width: 70%;
}

.inner-logo {
    width: 15%;
}
.inner-logo img{
    width: 100px;
    object-fit: cover;
}

.list-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.margin{
    height: 100vh;
    background-color: aqua;
}
.inner-menu li{
    height: 100%;
}
input[name="openNav"]{
    display: none;
}
@media screen and (max-width:1000px)  {
    .inner-logo{
        position: absolute;
        top:0px;
        right: 15px;
    }
    .inner-menu ul li{
        display: block;
        width: 99%;
        border-bottom: solid;
        padding: 10px;
    }
    .inner-menu ul{
        display: flex;
        flex-wrap: wrap;
    }
    .inner-menu{
        position: fixed;
        width: 45vw;
        background-color: blueviolet;
        top:0;
        left: 0;
        height: 100vh;
        transition: 0.5s;
        transform: translate(-100%,0);
    }
    .inner-menu .openNav{
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: aliceblue;
        opacity: 0.7;
        padding: 10px;
    }
    .inner-menu .openNav span{
        display: block;
        background-color: black;
        width: 30px;
        height: 3px;
        margin: 5px 0;
        transition: 1s;
    }
    .inner-menu:has(input[name="openNav"]:checked){
        transform:  translate(0,0);
    }
    .inner-menu:has(input[name="openNav"]:checked) .openNav span:nth-child(2){
        opacity: 0;
        transition: 0;

    }
    .inner-menu:has(input[name="openNav"]:checked) .openNav span:nth-child(1){
       transform: rotate(45deg) translate(6px,5px)
    }
    .inner-menu:has(input[name="openNav"]:checked) .openNav span:nth-child(3){
        transform: rotate(-45deg) translate(6px,-5px)
    }
    .inner-menu li:hover{
        background-color: rgb(96, 140, 140);
    }
}
