* {
    padding: 0;
    margin: 0;
}

/* head */
.head-fixed {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    height: 10vh;
    color: rgb(246, 203, 174);
    font-size: 16px;
    font-weight: 700;
    background: rgb(141, 5, 5);
    z-index: 999;
}
.inner-menu {
    width: 70%;
}

.inner-logo {
    width: 15%;
}
.inner-logo img{
    width: 100px;
    object-fit: cover;
}

.list-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.margin{
    height: 100vh;
    background-color: aqua;
}